<!-- views/partials/header.ejs -->

<h1>Tiny APP</h1>
<% if (user !== undefined) { %>
    <form action="/logout" method="POST">
      <input type="submit" value="Log out">
    </form>      
    <p><%=`Hello, ${user.email}!` %> </p>
<% } %>  
<% if(user === undefined) { %>
  <form action="/login" method='GET'>
    <input type="submit" value="Log in">
  </form>
  <form action="/register" method='GET'>
    <input type="submit" value="Register">
  </form>
<% } %>
