<!-- views/partials/header.ejs -->

<h1 class="text-center">Tiny APP</h1>
<% if (user !== undefined) { %>
    <form action="/logout" method="POST">
      <input class="btn btn-warning center-block" type="submit" value="Log out">
    </form>      
    <p class="text-center"><%=`Hello, ${user.email}!` %> </p>
<% } %>  
<% if(user === undefined) { %>
    <form action="/login" method='GET'>
      <input class = "btn btn-success" type="submit" value="Log in">
    </form>
    <form action="/register" method='GET'>
      <input class = "btn btn-success" type="submit" value="Register">
    </form>
<% } %>
