<!DOCTYPE html>
<html lang='en'>
<head>
<title>TinyApp</title>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>  
  
  <h1><%= `ShortURL:  ${shortURL}`%></h1>
  <form action="<%= `/urls/${shortURL}?_method=PUT` %>" method='POST'>
    <input id='longURL' type='text' name='longURL' placeholder="<%= url %>" style='width: 300px'>
    <input type='submit' value='Update'>
  </form>
  <% if (linkError !== undefined) { %>
      <p style = "color:red;"><%= linkError %></p>
  <% } %>

</body>
</html>