<!DOCTYPE html>
<html lang='en'>
<head>
<title>TinyApp</title>
</head>

<body>
  <header>
  <% include ./partials/_header %>
  </header>  
  <ul>
    <% const keyArray = Object.keys(urls) %>
    <% let keyArrayIndex = 0; %>
    <% for (key in urls) { %>
      <li> <%= `URL: ${urls[key]}\tSHORTENED: ${keyArray[keyArrayIndex]}`%></li>
      <% keyArrayIndex++ %>
    <% }; %>   
  </ul>
</body>
</html>