<!DOCTYPE html>
<html lang='en'>
<head>
<title>TinyApp</title>
</head>

<body>
  <h2>URLS</h2>
  <ul>
    <% for (key in urls) { %>
      <li><%= urls[key] %></li>
    <% }; %>   
  </ul>
</body>
</html>