<!DOCTYPE html>
<html lang='en'>
<head>
<title>TinyApp</title>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>  
  
  <tbody>
      <tr> <td><%= shortURL %></td> <td><strong>&emsp; &#8680 &emsp;</strong></td> <td><a href = > <%= url %></a></td> </tr>
  </tbody>
  
</body>
</html>