<!DOCTYPE html>
<html lang='en'>
<head>
<title>TinyApp</title>
</head>

<body>
  <header>
  <% include ./partials/_header %>
  </header>  

  <% let keyArray = Object.keys(urls) %>
  <% let keyArrayIndex = 0; %>
  <table>
        <tbody>
            <% for (key in urls) { %>
              <tr> <td><%= keyArray[keyArrayIndex] %></td> <td><strong>&emsp; &#8680 &emsp;</strong></td> <td><a href = > <%=  urls[key] %></a></td> </tr>
              <% keyArrayIndex++ %>
            <% }; %>  
        </tbody>
  </table>
</body>
</html>